body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    box-sizing: border-box;
}

.color {
    background-color: #F1F1F1;
}

.color2 {
    background-color: #E2E2E2;   
}

.box {
    background-color: #E2E2E2;
    color: #333333;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 8px;
}

.container, .container2 {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 20px 0;
}

#Logo {
    width: 200px;
    height: 60px;
}

#Menu {
    flex: 1;
    height: 34px;
}

#Button {
    padding: 0 20px;
    height: 42px;
}

.container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.section-1 {
    background-color: #F1F1F1;
    padding: 80px 0;
}

.section-1 .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#Content {
    width: calc(50% - 15px);
    height: 267px;
}

#Image {
    width: calc(50% - 15px);
    height: 520px;
}

.section-2 {
    padding: 80px 0;
}

.section-2 .container2_item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.container2_item1 {
    height: 420px;
    width: calc((100% - 60px) / 3);
}

.section-3 {
    background-color: #F1F1F1;
    padding: 80px 0;
}

.section-3 .container2_item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.container2_item2 {
    height: 300px;
    width: calc((100% - 120px) / 5);
}

.section-4 {
    padding: 80px 0;
}

.section-4 .container2_item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.container2_item3 {
    height: 300px;
    width: calc((100% - 90px) / 4);
}

.box-title {
    margin: 0 auto 40px auto;
    width: 600px;
    height: 80px;
    font-family: 'Lora', serif;
}

footer {
    background-color: #E2E2E2;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
